<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tlshot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C17645932C3F8DB400E60BE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C17645A42C3F8DB800E60BE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C17645AE2C3F8DB800E60BE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
