# Force node and npm versions in package.json
engine-strict=true
# We always want to update package.json with the exact version of packages
# added on the command line.
save-exact=true
# Audit via Github
audit=false
# There's 500+ packages looking for funding. What's the likelyhood
# that the log message spurs Notion to spend money here? Low.
fund=false
